@use "./variables" as v;
@use "./mixins" as m;

.diamond-row {
  display: flex;
  flex-direction: row;
  height: v.$diamond-half-height;
  position: relative;

  margin-left: -1px;
  margin-right: -1px;

  &.odd {
    margin-left: -1 + -1 * v.$diamond-half-width;
  }

  &:first-child {
    margin-top: -1 * v.$diamond-height;
  }
}

.diamond {
  position: relative;
  width: v.$diamond-width;
  height: v.$diamond-height;
  flex-shrink: 0;
  margin: -1px;

  &__triangle {
    @include m.triangle-base;
    @include m.diamond-transition;
    transform: scale(1.01);
  }

  .bottomright {
    @extend .diamond__triangle;
    top: 0;
    left: 0;
    border-bottom: v.$diamond-half-height solid;
    border-left: v.$diamond-half-width solid transparent;
  }

  .bottomleft {
    @extend .diamond__triangle;
    top: 0;
    right: 0;
    border-bottom: v.$diamond-half-height solid;
    border-right: v.$diamond-half-width solid transparent;
  }

  .topright {
    @extend .diamond__triangle;
    bottom: 0;
    left: 0;
    border-top: v.$diamond-half-height solid;
    border-left: v.$diamond-half-width solid transparent;
  }

  .topleft {
    @extend .diamond__triangle;
    bottom: 0;
    right: 0;
    border-top: v.$diamond-half-height solid;
    border-right: v.$diamond-half-width solid transparent;
  }
}
