@use "variables" as v;
@use "mixins" as m;
@use "diamond";

body {
  @include m.fullscreen;
  background: v.$background-color;
}

#container {
  @include m.fullscreen;
  position: relative;
  display: flex;
  flex-direction: column;
}
