$background-color: #364563;

$diamond-width: 162px;
$diamond-height: 100px;
$diamond-half-width: calc($diamond-width / 2);
$diamond-half-height: calc($diamond-height / 2);

$transition-duration: 4s;
$transition-timing: ease-in-out;

$horizontal-spacing: 1;
$vertical-spacing: 0.5;

$gap-compensation: -1px;
$scale-factor: 1.01;
